<div class="container">
  <form id='tweetSubmit' action="/" method='post'>
    <label for="tweetText">Tweet something</label>
    <input name='tweetText' type="text">
  </form>
  <img src="/original.gif" width="200">
</div>
